.playing-field {
    padding: 20px;
    width: 353px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.block {
    border: 1px solid dimgray;
    min-height: 410px;
}
