.cell {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: pink;
    cursor: pointer;
    border: 1px solid hotpink;
    text-align: center;
    margin: 3px;
}

.cell.clicked {
    background: transparent;
    border: none;
    cursor: default;
    pointer-events: none;
}

.symbol {
    position: relative;
    top: 7px;
    color: red;
    font-size: 30px;
}
